/dist
/build
/venv
*.egg
*.egg-info
*.pyc
*.mo
db.sqlite3
celerybeat-schedule

/.idea
/.project
/.pydevproject
/.settings
/.sublime

nodeconductor/server/settings.py

# Editor artifacts
# vim
*.sw*

# Testing artifacts

TEST-*.xml

# documentation
docs/_build/
docs/drfapi/

/static_files
