include *.md *.rst
recursive-include waldur_core/locale *.mo *.po
recursive-include waldur_core/core/templates *.html
recursive-include waldur_core/templates *.html
recursive-include waldur_core/landing/templates *.html
recursive-include waldur_core/logging/templates *.html
recursive-include waldur_core/structure/templates *.html
recursive-include waldur_core/users/templates *.html *.txt
