include *.md *.rst
recursive-include nodeconductor/locale *.mo *.po
recursive-include nodeconductor/core/templates *.html
recursive-include nodeconductor/templates *.html
recursive-include nodeconductor/landing/templates *.html
recursive-include nodeconductor/logging/templates *.html
recursive-include nodeconductor/structure/templates *.html
recursive-include nodeconductor/users/templates *.html *.txt
