{% extends 'admin/change_form.html' %}
{% block form_top %}
<div class="module">
    <div>
        <br/>
        <h4>Resource parameters propagation</h4>
        <p>It's possible pass data from the provisioned resource as input to the next resource. The passed data can be
        referenced in the template using the following method:
        <code>{% templatetag openvariable %} response.field {% templatetag closevariable %}</code> </p>
    </div>
    {% if change %}
        {% if not adminform.form.instance.get_head_template or adminform.form.instance.get_head_template.order_number != 1 %}
        <div><strong>Error! Template group should have template with order number 1 to work properly.</strong></div>
        {% endif %}
    {% else %}
        <div><strong>Notice! Template group will work properly only if template with order number 1 is defined</strong></div>
    {% endif %}
</div>
{% endblock %}
