{% load humanize %}
<html>
    <head>
        <style type="text/css">
        body {font-size: 18px}
        @page {
            size: a4 portrait;
            @frame content_frame {          /* Content Frame */
                left: 50pt; width: 512pt; top: 40pt; height: 632pt;
            }
            @frame footer_frame {           /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt; width: 512pt; top: 772pt; height: 20pt;
            }
        }
        #footer_content {
            font-size: 14px;
            text-align: right;
        }
        </style>
    </head>

    <body>
        {# HINT: keep line breaks after <pdf:*> tags #}
        <div id="footer_content">page <pdf:pagenumber>
            of <pdf:pagecount>
        </div>

        <table>
        <tr>
            <td width="60%"><img src="{{ logo }}"></td>
            <td width="40%"><h2>
                Cost report by {{ group_by }}
            </h2></td>
        </tr>
        <tr><td colspan="2"><hr></td></tr>
        </table>

        {% if group_by == 'month' %}

            <table cellpadding="0">
                <tr><td colspan="2"><br></td></tr>
                {% for year, customer_data in global_data.items %}
                    <tr>
                        <td><h2>{{ year }}</h2></td>
                        <td width="400" align="right"><h2>{{ global_partial_sums.next|floatformat:2|intcomma }} {{ currency }}</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <table cellpadding="5">
                        {% for customer_name, amount in customer_data.items %}
                            <tr>
                                <td width="20" align="right">{{ forloop.counter }}</td>
                                <td>{{ customer_name }}</td>
                                <td width="400" align="right">{{ amount|floatformat:2|intcomma }} {{ currency }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </td>
                    </tr>
                {% endfor %}
                    <tr><td colspan="2"><hr></td></tr>
                    <tr><td colspan="2" align="right"><h2>Total: {{ total_sum|floatformat:2|intcomma }} {{ currency }}</h2></td></tr>
            </table>

            <br>
            <div align="center"><h2> Detailed report </h2></div>

            <table cellpadding="0">
                {% for month, customers in formatted_data.items %}
                    <tr>
                        <td><h2>{{ month | date:"Y F" }}</h2></td>
                        <td width="400" align="right"><h2>{{ partial_sums.next|floatformat:2|intcomma }} {{ currency }}</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <table cellpadding="5">
                        {% for customer_name, amount in customers %}
                            <tr>
                                <td width="20" align="right">{{ forloop.counter }}</td>
                                <td>{{ customer_name }}</td>
                                <td width="400" align="right">{{ amount|floatformat:2|intcomma }} {{ currency }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </td>
                    </tr>
                {% endfor %}
                    <!-- <tr><td colspan="2"><hr></td></tr>
                    <tr><td colspan="2" align="right"><h2>Total: {{ total_sum|floatformat:2|intcomma }} {{ currency }}</h2></td></tr> -->
            </table>
        {% elif group_by == 'customer' %}

            <table cellpadding="0">
                <tr><td colspan="2"><br></td></tr>
                {% for customer_name, year_data in global_data.items %}
                    <tr>
                        <td><h2>{{ customer_name }}</h2></td>
                        <td width="400" align="right"><h2>{{ global_partial_sums.next|floatformat:2|intcomma }} {{ currency }}</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <table cellpadding="5">
                        {% for year, amount in year_data %}
                            <tr>
                                <td width="20" align="right">{{ forloop.counter }}</td>
                                <td>{{ year }}</td>
                                <td width="400" align="right">{{ amount|floatformat:2|intcomma }} {{ currency }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </td>
                    </tr>
                {% endfor %}
                    <tr><td colspan="2"><hr></td></tr>
                    <tr><td colspan="2" align="right"><h2>Total: {{ total_sum|floatformat:2|intcomma }} {{ currency }}</h2></td></tr>
            </table>
            <br>
            <div align="center"><h2> Detailed report </h2></div>
            <table cellpadding="0">
                {% for customer_name, month_data in formatted_data.items %}
                    <tr>
                        <td><h2>{{ customer_name }}</h2></td>
                        <td width="400" align="right"><h2>{{ partial_sums.next|floatformat:2|intcomma }} {{ currency }}</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <table cellpadding="5">
                        {% for month, amount in month_data %}
                            <tr>
                                <td width="20" align="right">{{ forloop.counter }}</td>
                                <td>{{ month | date:"Y F"  }}</td>
                                <td width="400" align="right">{{ amount|floatformat:2|intcomma }} {{ currency }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </td>
                    </tr>
                {% endfor %}
                    <!-- <tr><td colspan="2"><hr></td></tr>
                    <tr><td colspan="2" align="right"><h2>Total: {{ total_sum|floatformat:2|intcomma }} {{ currency }}</h2></td></tr> -->
            </table>
        {% endif %}

    </body>
</html>
