<h2> Orders for customer "{{ customer.name }}" </h2>
{% for date, orders in grouped_orders.items %}
    <h3>{{ date.2 }}</h3>
    <table border="0.1" cellpadding="5" >
        <!-- Table Header -->
        <thead>
            <tr>
                <th width='10%'>Order ID</th>
                <th width='15%'>Date</th>
                <th width='52%'>Items</th>
                <th width='13%'>Amount</th>
                <th width='10%'>Status</th>
            </tr>
        </thead>
        <!-- Table Header -->

        <!-- Table Body -->
        <tbody>
            {% for order in orders %}
            <tr>
                <td align="center">#{{ order.global_id }}</td>
                <td align="center">{{ order.date | date:"Y M d H:i"}}</td>
                <td align="center">{% for item in order.items %} {{ item.product_type }}: {{ item.product_scope.hostname }} {{ item.product }} - {{ item.status }} <br> {% endfor %}</td>
                <td align="center">{{ order.amount }} {{ order.currency }}</td>
                <td align="center">{{ order.status }}</td>
            </tr>
            {% endfor %}

        </tbody>
        <!-- Table Body -->

    </table>
{% endfor %}
