{% extends 'admin/change_form.html' %}
{% load nodeconductor_structure %}
{% block form_top %}
<div class="module">
    <a href="#" id="service-settings-toggle">Supported credentials depending on service type</a>
    <p></p>
    <div id="service-settings-content">
        {% service_settings_description %}
    </div>
</div>
<script type="text/javascript">
(function($) {
    $("#service-settings-content").hide();
    $("#service-settings-toggle").click(function() {
      $("#service-settings-content").slideToggle("slow");
    });
})(django.jQuery);
</script>
{% endblock %}
