{% extends 'admin/change_form.html' %}
{% block form_top %}
<div class="module">
    <h3>Supported credentials depending on service type:</h3>
    <p>Amazon</p>
    <ul>
        <li>Username — AWS access key ID</li>
        <li>Token — AWS secret access key</li>
    </ul>
    <p>* make sure your AWS user have proper permission policy attached, e.g. "AmazonEC2FullAccess"</p>
    <p>
        Supported Amazon options are: "<code>region</code>" (default: "us-east-1")
    </p>
    <p>Azure</p>
    <ul>
        <li>Username — Azure subscription id in the form of GUID</li>
        <li>Token — Path to the Azure X509 certificate file in .pem form</li>
    </ul>
    <p>OpenStack</p>
    <ul>
        <li>Backend url — Keystone auth URL (e.g. http://keystone.example.com:5000/v2.0)</li>
        <li>Username</li>
        <li>Password</li>
    </ul>
    <p>
        Supported OpenStack options are: "<code>tenant_name</code>" (default: "admin"),
        "<code>availability_zone</code>", "<code>cpu_overcommit_ratio</code>" (default: 1) and
        "<code>external_network_id</code>" (ID of OpenStack external network that will be connected to new service
        tenants)
    </p>
    <p>DigitalOcean</p>
    <ul>
        <li>Token — DigitalOcean personal access token</li>
    </ul>
    <p>Jira</p>
    <ul>
        <li>Backend url — Jira host (e.g. http://example.atlassian.net/)</li>
        <li>Username</li>
        <li>Password</li>
    </ul>
    <p>GitLab</p>
    <ul>
        <li>Backend url — GitLab host (e.g. https://git.example.com/)</li>
        <li>Username — Username or Email</li>
        <li>Password</li>
        <li>Token — Private token (will be used instead of username/password if supplied)</li>
    </ul>
    <p>Oracle</p>
    <ul>
        <li>Backend url — Oracle EM host (e.g. https://oracle.example.com:7802/em)</li>
        <li>Username</li>
        <li>Password</li>
    </ul>
</div>
{% endblock %}
