// transition
@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
}

// inlines
@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

// lists
@mixin clear-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

@mixin clear-list-inline {
    margin: 0;
    padding: 0;
    li {
        @include inline-middle;
    }
}

// clearfix
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    } // &:before, &:after
    &:after {
        clear: both;
    }
}

@mixin box {
    box-sizing: border-box;
    width: 100%;
}

// table view
@mixin table {
    table-layout: fixed;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

@mixin table-cell {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

// elements
@mixin elem {
    @include inline-middle;
    padding: 4px 8px;
}

@mixin site-block {
    @include clearfix;
    padding-top: 20px;
    padding-bottom: 20px;
}

// mediaqueries
@mixin bp($point) {
    $bp-xs: "(min-width : 480px)";
    $bp-sm: "(min-width : 768px)";
    $bp-md: "(min-width : 992px)";
    $bp-lg: "(min-width : 1200px)";

    @if $point == xs {
        @media #{$bp-xs} { @content; }
    }
    @if $point == sm {
        @media #{$bp-sm} { @content; }
    }
    @if $point == md {
        @media #{$bp-md} { @content; }
    }
    @if $point == lg {
        @media #{$bp-lg} { @content; }
    }
}
