<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Waldur MasterMind</title>
{% load staticfiles %}
<!-- Render -->
<link rel="stylesheet" type="text/css" href="{% static "landing/static/css/style.css" %}">
<script src="{% static "landing/static/js/production.js" %}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

    <div class="title" data-role="title">
        <h1>Waldur MasterMind</h1>
    </div>

    <div class="documentation" data-role="screen">
        <a href="https://opennode.atlassian.net/wiki/display/WD/" class="documentation__link" data-role="docs-link">Documentation</a>
    </div>

    <div class="api" data-role="screen">
        <a href="/api" class="api__link" data-role="api-link">API</a>
        <a href="/docs" class="api__link" data-role="api_docs-link">API Documentation</a>
    </div>

</body>
</html>
