<html>
    <head>

    </head>
    <body>
        <h1> Usage report of "{{ customer_name }}" </h1>
        <h2>Period: {{ reporting_period.0 }} - {{ reporting_period.1 }}</h2>
        <hr/>
        {% for project_name, instances in projects.items %}
        <h3>{{ project_name }}</h3>
        <table border="0.1" cellpadding="5" >
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Instance name</th>
                    <th>Flavor</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>State</th>
                    <th>CPU hours</th>
                    <th>Memory GB hours</th>
                    <th>Disk GB hours</th>
                </tr>
            </thead>
            <!-- Table Header -->

            <!-- Table Body -->
            <tbody>
                {% for instance in instances %}
                <tr>
                    <td align="center">{{ instance.name }}</td>
                    <td align="center">{{ instance.flavor }}</td>
                    <td align="center">{{ instance.started_at|date:"M d H:m"}}</td>
                    <td align="center">{% if instance.ended_at %} {{ instance.ended_at |date:"M d H:m"}} {% endif %}</td>
                    <td align="center">{{ instance.state }}</td>
                    <td align="center">{{ instance.hours }}</td>
                    <td align="center">{{ instance.memory }}</td>
                    <td align="center">{{ instance.disk }}</td>
                </tr>
                {% endfor %}

            </tbody>
            <!-- Table Body -->

        </table>
    {% endfor %}
    </body>
</html>