<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base-admin-3.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base-admin-3-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pages/signin.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pages/plans.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pages/pricing.css" rel="stylesheet">

</head>

<body>
    {% include "navbar.html" %}

    {% if user.is_authenticated %}
        {% include "subnavbar.html" %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}

    <script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/Application.js"></script>
    <script src="{{ STATIC_URL }}js/demo/signin.js"></script>

</body>
</html>
