<div class="footer">

    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                &copy; 2014 <a href="http://opennodecloud.com" target="_blank">OpenNode</a>
            </div> <!-- /span6 -->
            <div id="footer-terms" class="col-md-6">
                 <a href="mailto:info@nodeconductor.com" target="_blank">info@nodeconductor.com</a>
            </div> <!-- /.span6 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /footer -->
