{% extends "base.html" %}

{% load i18n %}

{% block title %}NodeConductor{% endblock %}

{% block content %}
<div class="main">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="widget stacked">
                <div class="widget-content">
                    <div class="pricing-header">
                        <h1>{% trans "A proper way to operate IT." %}</h1>
                        <h2>{% trans "Efficient. Trackable. Secure." %}</h2>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
