<nav class="navbar navbar-inverse" role="navigation">

    <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">NodeConductor</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
        <li class="dropdown">

            <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
                {{ user }}
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><a href="javascript:;">My Profile</a></li>
                <li><a href="javascript:;">My Keys</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li class="">
            <a href="/login?next=/">
                Login
            </a>
        </li>
        <li class="">
            <a href="/signup">
                Sign up
            </a>
        </li>
        {% endif %}

    </ul>
  </div><!-- /.navbar-collapse -->
</div> <!-- /.container -->
</nav>