<div class="subnavbar">

    <div class="subnavbar-inner">

        <div class="container">

            <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <i class="icon-reorder"></i>

            </a>

            <div class="collapse subnav-collapse">
                <ul class="mainnav">

                    <li class="">
                        <a href="/">
                            <i class="icon-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/apps">
                            <i class="icon-th"></i>
                            <span>AppStore</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'vm-list'%}">
                            <i class="icon-list-alt"></i>
                            <span>VMs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/reports">
                            <i class="icon-signal"></i>
                            <span>Reports</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/projects">
                            <i class="icon-briefcase"></i>
                            <span>Projects</span>
                        </a>
                    </li>


                </ul>
            </div> <!-- /.subnav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
