# Django settings for nodeconductor project
from nodeconductor.server.base_settings import *

import logging.handlers

# Debugging
# See also:
#  - https://docs.djangoproject.com/en/1.7/ref/settings/#debug
#  - https://docs.djangoproject.com/en/1.7/ref/settings/#template-debug
DEBUG = False

# Allowed hosts
# See also: https://docs.djangoproject.com/en/1.7/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

# Secret key
# SECURITY WARNING: keep the secret key used in production secret!
# You can use this command to generate a new secret key:
#
#   head -c32 /dev/urandom | base64
#
# See also: https://docs.djangoproject.com/en/1.7/ref/settings/#secret-key
SECRET_KEY = '...'

# Databases
# See also: https://docs.djangoproject.com/en/1.7/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'db.sqlite3',
    }
}

# The absolute path to the directory where collectstatic will collect static files for deployment.
# See also: https://docs.djangoproject.com/en/1.7/ref/settings/#static-root
STATIC_ROOT = 'static'

# Logging
# See also: https://docs.djangoproject.com/en/1.7/ref/settings/#logging
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,  # fixes Celery beat logging

    # Filters
    # Filter provides additional control over which log records are passed from logger to handler.
    # See also: https://docs.djangoproject.com/en/1.7/topics/logging/#filters
    'filters': {
        # Filter out only events (user-facing messages)
        'is-event': {
            '()': 'nodeconductor.logging.log.RequireEvent',
        },
        # Filter out only non-events (not user-facing messages)
        'is-not-event': {
            '()': 'nodeconductor.logging.log.RequireNotEvent',
        },
    },

    # Formatters
    # Formatter describes the exact format of the log entry.
    # See also: https://docs.djangoproject.com/en/1.7/topics/logging/#formatters
    'formatters': {
        'message-only': {
            'format': '%(message)s',
        },
        'simple': {
            'format': '%(asctime)s %(levelname)s %(message)s',
        },
    },

    # Handlers
    # Handler determines what happens to each message in a logger.
    # See also: https://docs.djangoproject.com/en/1.7/topics/logging/#handlers
    'handlers': {
        # Write logs to file
        # See also: https://docs.python.org/2/library/logging.handlers.html#watchedfilehandler
        #'file': {
        #    'class': 'logging.handlers.WatchedFileHandler',
        #    'filename': '/path/to/logfile.log',
        #    'formatter': 'simple',
        #},
        # Send logs to log server (events only)
        # Note that nodeconductor.logging.log.TCPEventHandler does not support exernal formatters
        #'tcp': {
        #    'class': 'nodeconductor.logging.log.TCPEventHandler',
        #    'filters': ['is-event'],
        #},
        # Forward logs to syslog (non-events only)
        # See also: https://docs.python.org/2/library/logging.handlers.html#sysloghandler
        #'syslog': {
        #    'class': 'logging.handlers.SysLogHandler',
        #    'address': '/dev/log',  # /var/log/syslog on OS X
        #    'facility': logging.handlers.SysLogHandler.LOG_LOCAL0,
        #    'filters': ['is-not-event'],
        #    'formatter': 'message-only',
        #},
        # Send logs to stderr
        # See also: https://docs.python.org/2/library/logging.handlers.html#streamhandler
        'console': {
            'class': 'logging.StreamHandler',
            'formatter': 'simple',
        },
        # Discard logs
        # See also: https://docs.python.org/2/library/logging.handlers.html#nullhandler
        #'null': {
        #    'class': 'logging.NullHandler',
        #,
    },

    # Loggers
    # A logger is the entry point into the logging system.
    # Each logger is a named bucket to which messages can be written for processing.
    # See also: https://docs.djangoproject.com/en/1.7/topics/logging/#loggers
    #
    # Default logger configuration
    'root': {
        'level': 'INFO',
        'handlers': ['console'],
    },
    # Default configuration can be overridden on per-module basis
    'loggers': {
        'django': {
            #'handlers': ['file'],
            #'level': 'WARNING',
        },
        'nodeconductor': {
            #'handlers': ['file', 'tcp'],
            #'level': 'DEBUG',
        },
        # Loggers for plugins
        'djangosaml2': {
            #'handlers': ['console'],
            #'level': 'DEBUG',
        },
    },
}

# Settings, that are related to NodeCondoctor applications
NODECONDUCTOR = {
    'EXTENSIONS_AUTOREGISTER': True,
    'DEFAULT_SECURITY_GROUPS': (
        {
            'name': 'ssh',
            'description': 'Security group for secure shell access',
            'rules': (
                {
                    'protocol': 'tcp',
                    'cidr': '0.0.0.0/0',
                    'from_port': 22,
                    'to_port': 22,
                },
                {
                    'protocol': 'icmp',
                    'cidr': '0.0.0.0/0',
                    'icmp_type': -1,
                    'icmp_code': -1,
                },
            ),
        },
    ),
    'MONITORING': {
        'ZABBIX': {
            'server': 'http://zabbix.example.com/zabbix',
            'username': 'admin',
            'password': 'zabbix',
            'interface_parameters': {'ip': '0.0.0.0', 'main': 1, 'port': '10050', 'type': 1, 'useip': 1, 'dns': ''},
            'templateid': '10106',
            'groupid': '8',
            'default_service_parameters': {'algorithm': 1, 'showsla': 1, 'sortorder': 1, 'goodsla': 95},
            'FAIL_SILENTLY': True,
            'HISTORY_RECORDS_INTERVAL': 60,  # time for max interval between history usage records in zabbix (in minutes)
            'TRENDS_RECORDS_INTERVAL': 60,  # time for max interval between trends usage records in zabbix (in minutes)
            'HISTORY_DATE_RANGE': 48,  # time interval on which zabbix will use records from history table (in hours)
            # application-specific templates
            'wordpress-templateid': '10107',
            'zimbra-templateid': '10108',
            'postgresql-templateid': '10109',
            'application-status-item': 'application.status',
        }
    }
}

# Example of settings for elasticsearch
NODECONDUCTOR['ELASTICSEARCH'] = {
    'username': 'username',
    'password': 'password',
    'host': 'example.com',
    'port': '9999',
    'protocol': 'https',
}

# Enable detection of coordinates of virtual machines
# Set to False in order to disable this feature
NODECONDUCTOR['ENABLE_GEOIP'] = True

DEFAULT_FROM_EMAIL='noreply@example.com'
